@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

:root {
    --color-a: #E9EDC9;
    --color-b: #ffd29d; 
    --color-c: #d4a373; 
    --color-d: #a3b18a; 
    --color-e: #E9EDC9; 
    --color-f: #a22c29;
}

body {
    background-color: var(--color-a);
    margin: 0;
    padding: 0;
    font-family: "Aleo", serif;

}



.homeTitle {
    text-align: left;
    font-size: 2.5rem;
    background-color: var(--color-d); 
    padding: 20px;
    margin-top: 0;
    border-bottom: 3px solid var(--color-c);
    position: relative;
}

.home-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    display: inline-block; /* Ensure proper layout */
}

.settings-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: var(--color-e);
    font-size: 2rem;
    line-height: 1;
}

.settings-button:hover {
    color: var(--color-b);
}

#calorie {
    color: var(--color-f);
}

#wise {
    color: var(--color-e);
}

.tile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px 5vw;
    margin: 40px 0 0;
}

.tile {
    border: none;
    border-radius: 15px;
    padding: 35px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Alternate tile backgrounds for visual interest */
.tile:nth-child(1) { background-color: var(--color-b); }
.tile:nth-child(2) { background-color: var(--color-c); }
.tile:nth-child(3) { background-color: var(--color-c); } 
.tile:nth-child(4) { background-color: var(--color-b); }

.tileTitle {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-f);
}

.tile:hover {
    transform: translateY(-8px);
    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.391);
    transition: transform 0.6s ease, box-shadow 0.5s ease;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    background-color: var(--color-d);
    border-top: 3px solid var(--color-c);
    position: fixed;
    bottom: 0;
    left: 0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: color 0.2s ease;
    color: var(--color-f); /* Ivory */
}

.nav-icon {
    font-size: 1.6rem;
    margin-bottom: 4px;
    line-height: 1;
}

.nav-label {
    line-height: 1;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-item:hover {
    color: #550f0d;
}